absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
ansicon==1.89.0
anyio==3.6.2
astroid==2.12.14
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.2.0
autopep8==2.0.2
backcall==0.2.0
beautifulsoup4==4.11.2
blessed==1.20.0
blinker==1.6.2
bs4==0.0.1
cachetools==5.3.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
comm==0.1.4
contourpy==1.1.0
cryptography==40.0.2
cycler==0.11.0
debugpy==1.6.8
decorator==5.1.1
Deprecated==1.2.13
dill==0.3.6
distro==1.8.0
et-xmlfile==1.1.0
execnet==1.9.0
executing==1.2.0
fastapi==0.95.2
Flask==2.3.2
flatbuffers==23.5.26
fonttools==4.42.0
frozenlist==1.3.3
gast==0.4.0
gcloud==0.18.3
google-auth-oauthlib==1.0.0
google-auth==2.22.0
google-pasta==0.2.0
googleapis-common-protos==1.59.0
grpcio==1.56.2
h11==0.14.0
h5py==3.9.0
httplib2==0.22.0
httptools==0.5.0
hypothesis==6.62.0
ibapi==9.81.1.post1
idna==3.4
iniconfig==2.0.0
inquirer==3.1.3
ipykernel==6.25.0
ipython==8.14.0
isort==5.11.4
itsdangerous==2.1.2
jedi==0.19.0
Jinja2==3.1.2
jinxed==1.2.0
joblib==1.3.2
jupyter-client==8.3.0
jupyter-core==5.3.1
jwcrypto==1.4.2
keras==2.13.1
kiwisolver==1.4.4
lazy-object-proxy==1.9.0
libclang==16.0.6
Markdown==3.4.4
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
matplotlib==3.7.2
mccabe==0.7.0
multidict==6.0.4
mysql-connector-python==8.0.33
mysql-connector==2.2.9
nest-asyncio==1.5.7
networkx==3.0
numpy==1.24.1
oauth2client==4.1.3
oauthlib==3.2.2
openai==0.27.2
openpyxl==3.1.2
opt-einsum==3.3.0
packaging==20.9
pandas==1.5.3
parso==0.8.3
pep8==1.7.1
pickleshare==0.7.5
Pillow==10.0.0
pip==23.2.1
platformdirs==2.6.2
plotly==5.8.2
pluggy==1.0.0
prompt-toolkit==3.0.39
protobuf==3.20.3
psutil==5.9.5
pure-eval==0.2.2
pyasn1-modules==0.3.0
pyasn1==0.5.0
pycodestyle==2.10.0
pycparser==2.21
pycryptodome==3.17
pydantic==1.10.7
pygame-menu==4.4.1
pygame==2.1.3.dev8
Pygments==2.14.0
pylint==2.15.10
pyparsing==3.0.9
pyperclip==1.8.2
PyQt6-Qt6==6.5.1
PyQt6-sip==13.5.1
PyQt6==6.5.1
Pyrebase4==4.6.0
pyrebase5==5.0.1
pytest-cache==1.0
pytest-pep8==1.0.6
pytest==7.2.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-editor==1.0.4
python-jwt==4.0.0
python-ta==2.4.2
pytz==2022.7.1
pywin32==306
PyYAML==6.0
pyzmq==25.1.0
readchar==4.0.5
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
requests==2.29.0
rsa==4.9
scikit-learn==1.3.0
scipy==1.11.1
setuptools==65.5.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sqlitedict==2.1.0
stack-data==0.6.2
starlette==0.27.0
tabula-py==2.6.0
tabulate==0.8.10
tenacity==8.1.0
tensorboard-data-server==0.7.1
tensorboard==2.13.0
tensorflow-estimator==2.13.0
tensorflow-hub==0.12.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow==2.13.0
tensorflowjs==3.18.0
termcolor==2.3.0
terminal-copilot==1.2.3
thread6==0.2.0
threadpoolctl==3.2.0
toml==0.10.2
tomlkit==0.11.6
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
typeguard==2.13.3
types-pytz==2022.7.1.2
typing-extensions==4.5.0
urllib3==1.26.13
uvicorn==0.22.0
watchfiles==0.19.0
wcwidth==0.2.6
websockets==11.0.3
Werkzeug==2.3.3
wheel==0.41.1
wrapt==1.14.1
yarl==1.8.2
